/* .reference-line-group {
    pointer-events: none;
} */

.reference-rectangle-group rect {
    position: relative;
    pointer-events: none;
    fill: var(--reference-rectangle-fill);
    stroke: var(--reference-rectangle-stroke-color);
    stroke-width: var(--reference-rectangle-stroke-width);
}