.axis .tick text {
    fill: var(--axis-tick-text-color);
}

.axis .tick line {
    stroke: var(--axis-tick-line-color);
}

.axis .domain {
    stroke: var(--axis-tick-line-color);
}

.axis.show-grid .tick line {
    stroke-dasharray: var(--grid-line-dash-pattern);
}