:root {
    --axis-tick-line-color: #303030;
    --axis-tick-text-color: #303030;

    --vertical-reference-line-color: rgba(0,0,0,.5);
    --vertical-reference-line-width: 1px;

    /*
     * variables that control style of the chart tooltip
     */
    --tooltip-background-color: rgba(0,0,0,.70);
    --tooltip-text-color: #fff;
    --tooltip-text-font-size: .8rem;
    --tooltip-max-width: 200px;
    --tooltip-border-color: transparent;
    --tooltip-dropshadow-color: rgba(0,0,0,.3);

    /*
     * this value will be used in axis grid line's `stroke-dasharray` property
     */
    --grid-line-dash-pattern: 1 1;
}