:root {
    /*
     * variables that control the style of the axis tick line and text
     */
    --axis-tick-line-color: #303030;
    --axis-tick-text-color: #303030;

    /*
     * variables that control the style of the chart tooltip
     */
    --tooltip-background-color: rgba(255,255,255,1);
    --tooltip-text-color: #303030;
    --tooltip-text-font-size: .8rem;
    --tooltip-max-width: 200px;
    --tooltip-border-color: transparent;
    --tooltip-dropshadow-color: rgba(0,0,0,.2);

    /*
     * variables that control the style of crosshair reference line
     */
    --crosshair-reference-line-color: rgba(0,0,0,.5);
    --crosshair-reference-line-width: 1px;
    --crosshair-reference-line-stroke-dasharray: 1 1;

    /*
     * variables that control the style of user provided reference line
     */
     --reference-line-color: rgba(0,0,255,.8);
     --reference-line-width: 1px;
     --reference-line-stroke-dasharray: 2 1;
}