.reference-line-group {
    pointer-events: none;
}

.reference-line-group line {
    stroke: var(--reference-line-color);
    stroke-width: var(--reference-line-width);
    stroke-dasharray: var(--reference-line-stroke-dasharray);
}