.vertical-reference-line-group {
    pointer-events: none;
}

.vertical-reference-line-group line {
    stroke: var(--vertical-reference-line-color);
    stroke-width: var(--vertical-reference-line-width);
}