:root {
    --axis-tick-line-color: #303030;
    --axis-tick-text-color: #303030;

    --pointer-reference-line-color: red;
    --pointer-reference-line-wdith: 1px;

    --tooltip-background-color: rgba(0,0,0,.75);
    --tooltip-text-color: #fff;
    --tooltip-text-font-size: .85rem;
    --tooltip-max-width: 200px;
    /* --tooltip-border-color: .75rem; */

    /*
     * this value will be used in axis grid line's `stroke-dasharray` property
     */
    --grid-line-dash-pattern: 1 1;
}